{{extend 'layout.html'}}
<div class="well" style="text-align:center">
<a href="{{=URL('leerDocentes')}}" class="btn btn-primary" style="font-weight:bold;text-align:center; width: 50%;font-size: 30px;">Leer docentes del XML docentes.xml</a>
</div>
<div class="well" style="text-align:center">
<a href="{{=URL('leerMaterias')}}" class="btn btn-primary" style="font-weight:bold;text-align:center; width: 50%;font-size: 30px;">Leer Materias del XML Materias.xml</a>
</div>
<div class="well" style="text-align:center">
<a href="{{=URL('admin')}}" class="btn btn-primary" style="font-weight:bold;text-align:center; width: 50%;font-size: 30px;">Panel Administrativo de Materias</a>
</div>
