{{extend 'layout.html'}}

<div class="row">
	
	<div class="col-md-12">
	
	<div class="col-md-6">
	<h3>Vida Familiar  <img src="{{=URL('static','img/bueno.png')}}" width="3%" height="3%" /></h3>
	<input id="familia" value="20" type="range" name="familia" min="0" max="100" disabled>
	</div>
	<div class="col-md-6">
	<h3>Vida Social  <img src="{{=URL('static','img/bueno.png')}}" width="3%" height="3%" /></h3>
	<input id="social" value="20" type="range" name="social" min="0" max="100" disabled>
	
	</div>
	
	</div>
	
	<div class="col-md-12">
	<div class="col-md-6">
	<h3>Vida Laboral <img src="{{=URL('static','img/bueno.png')}}" width="3%" height="3%" /></h3>
	<input id="laboral" value="20" type="range" name="laboral" min="0" max="100" disabled >
	</div>
	<div class="col-md-6">
	<h3>Vida Escolar  <img src="{{=URL('static','img/bueno.png')}}" width="3%" height="3%" /></h3>
	<input id="escolar" value="20" type="range" name="escolar" min="0" max="100" disabled>
	
	</div>
	
	</div>
	
	
	
	<div class=""
	
              
            </div>



